@import url('reset.css');
@import url('font.css');

.hidden{
	display: none;
}
.clearfix{
	clear: both;
	content: '';
	display: table;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.text-blue{
	color: #428bca;
}
.text-black{
	color: #333333;
}
.text-blue-bold{
	color: #5bc0de;
}
.text-red-strong{
	color: #d9534f;
}
.text-blue-strong{
	color: #337ab7;
}
#wrapper{
	width: 1349px;
	margin:0px auto;
}
.container{
	margin: 0px 135px;
}
.line{
	border: 1px solid #eee;
	content: '';
	display: block;
}
/*================================NAV==============================*/
#nav{
	height: 50px;
	background-color: #3498db;
}
	#nav h1{
		text-transform: uppercase;
		color: #fff;
		float: left;
		padding: 0px 30px;
		font: 400 18px/50px 'helvetica-neue-bold';
		text-align: center;
	}
	#nav .nav-list{
		float: left;
	}
		#nav .nav-list li{
			float: left;
			line-height: 50px;
		}
		#nav .nav-list li a{
			width: 100px;
			padding: 0px 5px;
			font: 500 14px/50px 'helvetica-neue-medium';
			color: #fff;
			display: inline-block;
			text-transform: uppercase;
			text-align: center;
		}
		#nav .nav-list li a:hover{
			background-color: #337ab7;
		}
		#nav .nav-list li:last-child a{
			background-color: #d9534f;
		}
		#nav .nav-list li:last-child a:hover{
			background-color: #c0392b;
		}
/*=================================HEADER==================================*/
	#logo-slogan a{
		display: inline-block;
	}
		#logo-slogan a img{
			width: 150px;
			height: 150px;
			display: block;
			padding: 15px 0px 10px 5px;
		}
		
	#logo-slogan h2{
		font-size: 21px;
		color: #5a5a5a;
		margin-bottom: 40px;
		font-family: 'helveticaneue';
	}
.docs{
	border:1px solid #e6e6e6;
	height: 50px;
	background-color: #fafafa;
	margin: 0px -135px;
}
	.docs  p{
		margin: 0px 135px;
		font: 900 14px/50px 'helvetica-neue-bold';
	}
#aside-sumary{
	margin-top: 30px;
	float: left;
	width: 280px;
	position: relative;
	left: 135px;
	background-color: #f7f5fa;
}
	#aside-sumary > h2{
		margin: 20px;
		color: #428bca;
		font-size: 20px;
		font-family: 'helvetica-neue-bold';
	}
	#aside-sumary > ul{
		margin: 0px 20px 20px 20px;
	}
		#aside-sumary > ul li{
		}
			#aside-sumary > ul li a{
				font: 14px/25px 'helvetica-neue-medium';
				color: #716b7a;
				font-weight: 500;
			}
/*-------------------------------------article---------------------------*/
#main{
	margin: 30px 135px 30px 445px;
}
	#main #article-main h2{
		font-size: 38px;
		font-family: 'helvetica-neue-bold';
	}
	#main #article-main span.author{
		margin: 10px 0px;
		display: block;
		font-style: italic;
		font-family: 'helveticaneue';
		font-size: 14px;
		color: #a7a7a7;
	}
		#main #article-main .overview > img{
			width: 185px;
			height: 185px;
			float: left;
		}
		#main #article-main .overview > .overview-content{
			margin-left: 205px;
			text-align: justify;
			border-left: 5px solid #cfe3f2;
			padding: 10px 20px 0px 10px;
			background-color: #f0f7fd;
		}
			#main #article-main .overview > .overview-content blockquote{
				font:italic 18px/25px 'helveticaneue';
			}
			#main #article-main .overview > .overview-content p{
				text-align: right;
				padding: 15px 0px;
				font:italic 18px/25px 'helvetica-neue-bold';
			}
	#main #article-main .review{
		margin-top: 40px;
		border: 3px dashed #337ab7;
		padding: 15px;
		text-align: justify;
		font: 18px/25px 'helveticaneue';
	}
		#main #article-main .section-content h3{
			margin: 15px 0px;
			font-size: 24px;
			color: #d9534f; 
			font-family:'helvetica-neue-bold';
		}
		#main #article-main .section-content img{
			text-align: center;
			width: 200px;
			margin-left: 290px;
		}
		#main #article-main .section-content p{
			font: 18px/25px 'helveticaneue';
			text-align: justify;
			margin-top: 15px;
		}
		#main #article-main .section-content #list-reference{
			list-style: decimal;
			list-style-position: inside;
		}
			#main #article-main .section-content #list-reference li a{
				font: bold 18px/25px 'helvetica-neue-bold';
				color: #337ab7;
			}
/*================================FOOTER===============================*/
#footer{
	border-top: 1px solid #e5e5e5;
	padding: 15px 0px;
}
	#footer p{
		margin-left: 445px;
		text-align: center;
		font: bold 14px/25px 'helvetica-neue-bold';
		color: #777777;
	}
	#footer p a{
		font: bold 14px/25px 'helvetica-neue-bold';
		color: #777777;
	}

